.jumbotron {
        background-image: url(../../images/backgroundhome.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position:fixed;
        padding:0;
        margin:0;
    
        
        left:0;
    
        width: 100%;
        height: 55%;
}

.display-4 {
        font-weight: bolder;
        color: white;
}

.lead {
        color: white;
        font-weight: 1200;
}
.about {
        margin-top: 500px;
}