
/* body {
 
} */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("https://media.freestocktextures.com/cache/5b/48/5b484d445dac474cb4d36b028a1c6029.jpg");
  height: 150px;
  padding: 20px;
  color: white;
  
}